{% extends "nano/base_setup.html" %}
{% block webtitle %}Setup {{productname}}{% endblock %}
{% block productname %}{{productname}}{% endblock %}
{% block body %}
<form action="#" method="post">
    <div class="card">
        <div class="card-header">
        Welcome
        </div>
        <div class="card-body">
        <h5 class="card-title">Welcome To {{productname}} Setup Wizard.</h5>
        <p class="card-text">Thank You For Choosing {{productname}}, The New Open-Source Family System.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Adult 1
        </div>
        <div class="card-body">
        <h5 class="card-title">Now,Set your username and password for adult 1.</h5>
        <p class="card-text">Please Remeber Your Password As It Is Not Possible To Reset Your Password.</p>
        <div class="mix">
            <input type="text" name="a1n" class="w-75 form-control input-normal" placeholder="Set Username"/>
            <input type="password" name="a1p" class="w-75 form-control input-normal" placeholder="Set Password"/>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Adult 2
        </div>
        <div class="card-body">
        <h5 class="card-title">Than,Set your username and password for adult 2.</h5>
        <p class="card-text">Please Remeber Your Password As It Is Not Possible To Reset Your Password.</p>
        <div class="mix">
            <input type="text" name="a2n" class="w-75 form-control input-normal" placeholder="Set Username"/>
            <input type="password" name="a2p" class="w-75 form-control input-normal" placeholder="Set Password"/>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Child
        </div>
        <div class="card-body">
        <h5 class="card-title">At last, Children Can Set His/Her Account.</h5>
        <p class="card-text">You can ask him/her to create an account, be sure to remember the password.</p>
        <div class="mix">
            <input type="text" name="cn" class="w-75 form-control input-normal" placeholder="Set Username"/>
            <input type="password" name="cp" class="w-75 form-control input-normal" placeholder="Set Password"/>
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Next"/>
    <br>
    <label>* Space will be omitted for the username!</label>
  </form>

{% endblock %}
{% block footer %}Copyright (c) {{productname}} {{year}}, all rights reserved.{% endblock %}