{% extends "nano/base_setup.html" %}
{% block webtitle %}License Agreement For {{productname}}{% endblock %}
{% block productname %}{{productname}}{% endblock %}
{% block body %}
    <div class="center">
        <div class="AcknowledgeOuterDiv">
            <div class="AcknowledgeInnerDiv">
                {% for n in license %}
                    {{n}}
                    <br>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="center">
        <label>* If you click "Next", you agree to the above licensing terms.</label>
    </div>
    <div class="center">
        <button class="btn btn-primary" data-toggle="modal" data-target="#MsgBox">Next</button>
        <button class="btn btn-secondary">Cancel</button>
    </div>
  <!-- Modal -->
  <div class="modal fade" id="MsgBox" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{productname}} License Terms</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Click "Yes",if you have read and agree the Open Source License Terms.Click "No" and nothing will happen.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <form method="post" action="#">
            <input type="submit" class="btn btn-primary" name="accept" value="Yes"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
    {% endblock %}
    {% block footer %}Copyright (c) {{year}} {{productname}}. Powered By Mint.{% endblock %}