<title>UserAccountControl</title>
<style>
	.title{
		background-color:#76B9EE;
	position:relative;
	margin-right:1%;
	margin-left:1%;
	}
	.body{
		background-color:#E6E6E6;
		margin-right:1%;
	margin-left:1%;
		margin-top:0%;
	}
</style>

<divclass="title">
	<h3>	UserAccountControl</h3>
		<h2>Doyouwanttoallowthisusertomakechangestotheirremainingvalue?</h2>
</div>
<divclass="body">
<formaction="#"method="post">
	<p>HowMuch?<inputtype="number"name="dollars"/></p>
	<p><inputtype="submit"value="Add"/></p>
</form>
</div>
