<title>Setup-MeowTechCodenamed"Central"</title>
<h1>Step1-ReadLicenseAgreement</h1>
<style>
.AcknowledgeOuterDiv
{
float:left;
width:100%;
height:80%;
overflow:auto;
}
.AcknowledgeInnerDiv
{
float:left;
}
</style>
<divclass="AcknowledgeOuterDiv">
<divclass="AcknowledgeInnerDiv">
<h1>EclipsePublicLicense-v2.0</h1>
<pre><code>THEACCOMPANYINGPROGRAMISPROVIDEDUNDERTHETERMSOFTHISECLIPSE
PUBLICLICENSE(&quot;AGREEMENT&quot;).ANYUSE,REPRODUCTIONORDISTRIBUTION
OFTHEPROGRAMCONSTITUTESRECIPIENT&#39;SACCEPTANCEOFTHISAGREEMENT.
</code></pre>
<ol>
<li>DEFINITIONS</li>

</ol>
<p>&quot;Contribution&quot;means:</p>
<p>a)inthecaseoftheinitialContributor,theinitialcontent
DistributedunderthisAgreement,and</p>
<p>b)inthecaseofeachsubsequentContributor:
i)changestotheProgram,and
ii)additionstotheProgram;
wheresuchchangesand/oradditionstotheProgramoriginatefrom
andareDistributedbythatparticularContributor.AContribution
&quot;originates&quot;fromaContributorifitwasaddedtotheProgramby
suchContributoritselforanyoneactingonsuchContributor&#39;sbehalf.
ContributionsdonotincludechangesoradditionstotheProgramthat
arenotModifiedWorks.</p>
<p>&quot;Contributor&quot;meansanypersonorentitythatDistributestheProgram.</p>
<p>&quot;LicensedPatents&quot;meanpatentclaimslicensablebyaContributorwhich
arenecessarilyinfringedbytheuseorsaleofitsContributionalone
orwhencombinedwiththeProgram.</p>
<p>&quot;Program&quot;meanstheContributionsDistributedinaccordancewiththis
Agreement.</p>
<p>&quot;Recipient&quot;meansanyonewhoreceivestheProgramunderthisAgreement
oranySecondaryLicense(asapplicable),includingContributors.</p>
<p>&quot;DerivativeWorks&quot;shallmeananywork,whetherinSourceCodeorother
form,thatisbasedon(orderivedfrom)theProgramandforwhichthe
editorialrevisions,annotations,elaborations,orothermodifications
represent,asawhole,anoriginalworkofauthorship.</p>
<p>&quot;ModifiedWorks&quot;shallmeananyworkinSourceCodeorotherformthat
resultsfromanadditionto,deletionfrom,ormodificationofthe
contentsoftheProgram,including,forpurposesofclarityanynewfile
inSourceCodeformthatcontainsanycontentsoftheProgram.Modified
Worksshallnotincludeworksthatcontainonlydeclarations,
interfaces,types,classes,structures,orfilesoftheProgramsolely
ineachcaseinordertolinkto,bindbyname,orsubclasstheProgram
orModifiedWorksthereof.</p>
<p>&quot;Distribute&quot;meanstheactsofa)distributingorb)makingavailable
inanymannerthatenablesthetransferofacopy.</p>
<p>&quot;SourceCode&quot;meanstheformofaProgrampreferredformaking
modifications,includingbutnotlimitedtosoftwaresourcecode,
documentationsource,andconfigurationfiles.</p>
<p>&quot;SecondaryLicense&quot;meanseithertheGNUGeneralPublicLicense,
Version2.0,oranylaterversionsofthatlicense,includingany
exceptionsoradditionalpermissionsasidentifiedbytheinitial
Contributor.</p>
<olstart='2'>
<li>GRANTOFRIGHTS</li>

</ol>
<p>a)SubjecttothetermsofthisAgreement,eachContributorhereby
grantsRecipientanon-exclusive,worldwide,royalty-freecopyright
licensetoreproduce,prepareDerivativeWorksof,publiclydisplay,
publiclyperform,DistributeandsublicensetheContributionofsuch
Contributor,ifany,andsuchDerivativeWorks.</p>
<p>b)SubjecttothetermsofthisAgreement,eachContributorhereby
grantsRecipientanon-exclusive,worldwide,royalty-freepatent
licenseunderLicensedPatentstomake,use,sell,offertosell,
importandotherwisetransfertheContributionofsuchContributor,
ifany,inSourceCodeorotherform.Thispatentlicenseshall
applytothecombinationoftheContributionandtheProgramif,at
thetimetheContributionisaddedbytheContributor,suchaddition
oftheContributioncausessuchcombinationtobecoveredbythe
LicensedPatents.Thepatentlicenseshallnotapplytoanyother
combinationswhichincludetheContribution.Nohardwareperseis
licensedhereunder.</p>
<p>c)RecipientunderstandsthatalthougheachContributorgrantsthe
licensestoitsContributionssetforthherein,noassurancesare
providedbyanyContributorthattheProgramdoesnotinfringethe
patentorotherintellectualpropertyrightsofanyotherentity.
EachContributordisclaimsanyliabilitytoRecipientforclaims
broughtbyanyotherentitybasedoninfringementofintellectual
propertyrightsorotherwise.Asaconditiontoexercisingthe
rightsandlicensesgrantedhereunder,eachRecipienthereby
assumessoleresponsibilitytosecureanyotherintellectual
propertyrightsneeded,ifany.Forexample,ifathirdparty
patentlicenseisrequiredtoallowRecipienttoDistributethe
Program,itisRecipient&#39;sresponsibilitytoacquirethatlicense
beforedistributingtheProgram.</p>
<p>d)EachContributorrepresentsthattoitsknowledgeithas
sufficientcopyrightrightsinitsContribution,ifany,togrant
thecopyrightlicensesetforthinthisAgreement.</p>
<p>e)NotwithstandingthetermsofanySecondaryLicense,no
ContributormakesadditionalgrantstoanyRecipient(otherthan
thosesetforthinthisAgreement)asaresultofsuchRecipient&#39;s
receiptoftheProgramunderthetermsofaSecondaryLicense
(ifpermittedunderthetermsofSection3).</p>
<olstart='3'>
<li>REQUIREMENTS</li>

</ol>
<p>3.1IfaContributorDistributesthePrograminanyform,then:</p>
<p>a)theProgrammustalsobemadeavailableasSourceCode,in
accordancewithsection3.2,andtheContributormustaccompany
theProgramwithastatementthattheSourceCodefortheProgram
isavailableunderthisAgreement,andinformsRecipientshowto
obtainitinareasonablemanneronorthroughamediumcustomarily
usedforsoftwareexchange;and</p>
<p>b)theContributormayDistributetheProgramunderalicense
differentthanthisAgreement,providedthatsuchlicense:
i)effectivelydisclaimsonbehalfofallotherContributorsall
warrantiesandconditions,expressandimplied,including
warrantiesorconditionsoftitleandnon-infringement,and
impliedwarrantiesorconditionsofmerchantabilityandfitness
foraparticularpurpose;</p>
<pre><code>ii)effectivelyexcludesonbehalfofallotherContributorsall
liabilityfordamages,includingdirect,indirect,special,
incidentalandconsequentialdamages,suchaslostprofits;

iii)doesnotattempttolimitoraltertherecipients&#39;rights
intheSourceCodeundersection3.2;and

iv)requiresanysubsequentdistributionoftheProgrambyany
partytobeunderalicensethatsatisfiestherequirements
ofthissection3.
</code></pre>
<p>3.2WhentheProgramisDistributedasSourceCode:</p>
<p>a)itmustbemadeavailableunderthisAgreement,orifthe
Program(i)iscombinedwithothermaterialinaseparatefileor
filesmadeavailableunderaSecondaryLicense,and(ii)theinitial
ContributorattachedtotheSourceCodethenoticedescribedin
ExhibitAofthisAgreement,thentheProgrammaybemadeavailable
underthetermsofsuchSecondaryLicenses,and</p>
<p>b)acopyofthisAgreementmustbeincludedwitheachcopyof
theProgram.</p>
<p>3.3Contributorsmaynotremoveoralteranycopyright,patent,
trademark,attributionnotices,disclaimersofwarranty,orlimitations
ofliability(&quot;notices&quot;)containedwithintheProgramfromanycopyof
theProgramwhichtheyDistribute,providedthatContributorsmayadd
theirownappropriatenotices.</p>
<olstart='4'>
<li>COMMERCIALDISTRIBUTION</li>

</ol>
<p>Commercialdistributorsofsoftwaremayacceptcertainresponsibilities
withrespecttoendusers,businesspartnersandthelike.Whilethis
licenseisintendedtofacilitatethecommercialuseoftheProgram,
theContributorwhoincludesthePrograminacommercialproduct
offeringshoulddosoinamannerwhichdoesnotcreatepotential
liabilityforotherContributors.Therefore,ifaContributorincludes
thePrograminacommercialproductoffering,suchContributor
(&quot;CommercialContributor&quot;)herebyagreestodefendandindemnifyevery
otherContributor(&quot;IndemnifiedContributor&quot;)againstanylosses,
damagesandcosts(collectively&quot;Losses&quot;)arisingfromclaims,lawsuits
andotherlegalactionsbroughtbyathirdpartyagainsttheIndemnified
Contributortotheextentcausedbytheactsoromissionsofsuch
CommercialContributorinconnectionwithitsdistributionoftheProgram
inacommercialproductoffering.Theobligationsinthissectiondonot
applytoanyclaimsorLossesrelatingtoanyactualoralleged
intellectualpropertyinfringement.Inordertoqualify,anIndemnified
Contributormust:a)promptlynotifytheCommercialContributorin
writingofsuchclaim,andb)allowtheCommercialContributortocontrol,
andcooperatewiththeCommercialContributorin,thedefenseandany
relatedsettlementnegotiations.TheIndemnifiedContributormay
participateinanysuchclaimatitsownexpense.</p>
<p>Forexample,aContributormightincludethePrograminacommercial
productoffering,ProductX.ThatContributoristhenaCommercial
Contributor.IfthatCommercialContributorthenmakesperformance
claims,orofferswarrantiesrelatedtoProductX,thoseperformance
claimsandwarrantiesaresuchCommercialContributor&#39;sresponsibility
alone.Underthissection,theCommercialContributorwouldhaveto
defendclaimsagainsttheotherContributorsrelatedtothoseperformance
claimsandwarranties,andifacourtrequiresanyotherContributorto
payanydamagesasaresult,theCommercialContributormustpay
thosedamages.</p>
<olstart='5'>
<li>NOWARRANTY</li>

</ol>
<p>EXCEPTASEXPRESSLYSETFORTHINTHISAGREEMENT,ANDTOTHEEXTENT
PERMITTEDBYAPPLICABLELAW,THEPROGRAMISPROVIDEDONAN&quot;ASIS&quot;
BASIS,WITHOUTWARRANTIESORCONDITIONSOFANYKIND,EITHEREXPRESSOR
IMPLIEDINCLUDING,WITHOUTLIMITATION,ANYWARRANTIESORCONDITIONSOF
TITLE,NON-INFRINGEMENT,MERCHANTABILITYORFITNESSFORAPARTICULAR
PURPOSE.EachRecipientissolelyresponsiblefordeterminingthe
appropriatenessofusinganddistributingtheProgramandassumesall
risksassociatedwithitsexerciseofrightsunderthisAgreement,
includingbutnotlimitedtotherisksandcostsofprogramerrors,
compliancewithapplicablelaws,damagetoorlossofdata,programs
orequipment,andunavailabilityorinterruptionofoperations.</p>
<olstart='6'>
<li>DISCLAIMEROFLIABILITY</li>

</ol>
<p>EXCEPTASEXPRESSLYSETFORTHINTHISAGREEMENT,ANDTOTHEEXTENT
PERMITTEDBYAPPLICABLELAW,NEITHERRECIPIENTNORANYCONTRIBUTORS
SHALLHAVEANYLIABILITYFORANYDIRECT,INDIRECT,INCIDENTAL,SPECIAL,
EXEMPLARY,ORCONSEQUENTIALDAMAGES(INCLUDINGWITHOUTLIMITATIONLOST
PROFITS),HOWEVERCAUSEDANDONANYTHEORYOFLIABILITY,WHETHERIN
CONTRACT,STRICTLIABILITY,ORTORT(INCLUDINGNEGLIGENCEOROTHERWISE)
ARISINGINANYWAYOUTOFTHEUSEORDISTRIBUTIONOFTHEPROGRAMORTHE
EXERCISEOFANYRIGHTSGRANTEDHEREUNDER,EVENIFADVISEDOFTHE
POSSIBILITYOFSUCHDAMAGES.</p>
<olstart='7'>
<li>GENERAL</li>

</ol>
<p>IfanyprovisionofthisAgreementisinvalidorunenforceableunder
applicablelaw,itshallnotaffectthevalidityorenforceabilityof
theremainderofthetermsofthisAgreement,andwithoutfurther
actionbythepartieshereto,suchprovisionshallbereformedtothe
minimumextentnecessarytomakesuchprovisionvalidandenforceable.</p>
<p>IfRecipientinstitutespatentlitigationagainstanyentity
(includingacross-claimorcounterclaiminalawsuit)allegingthatthe
Programitself(excludingcombinationsoftheProgramwithothersoftware
orhardware)infringessuchRecipient&#39;spatent(s),thensuchRecipient&#39;s
rightsgrantedunderSection2(b)shallterminateasofthedatesuch
litigationisfiled.</p>
<p>AllRecipient&#39;srightsunderthisAgreementshallterminateifit
failstocomplywithanyofthematerialtermsorconditionsofthis
Agreementanddoesnotcuresuchfailureinareasonableperiodof
timeafterbecomingawareofsuchnoncompliance.IfallRecipient&#39;s
rightsunderthisAgreementterminate,Recipientagreestoceaseuse
anddistributionoftheProgramassoonasreasonablypracticable.
However,Recipient&#39;sobligationsunderthisAgreementandanylicenses
grantedbyRecipientrelatingtotheProgramshallcontinueandsurvive.</p>
<p>EveryoneispermittedtocopyanddistributecopiesofthisAgreement,
butinordertoavoidinconsistencytheAgreementiscopyrightedand
mayonlybemodifiedinthefollowingmanner.TheAgreementSteward
reservestherighttopublishnewversions(includingrevisions)of
thisAgreementfromtimetotime.NooneotherthantheAgreement
StewardhastherighttomodifythisAgreement.TheEclipseFoundation
istheinitialAgreementSteward.TheEclipseFoundationmayassignthe
responsibilitytoserveastheAgreementStewardtoasuitableseparate
entity.EachnewversionoftheAgreementwillbegivenadistinguishing
versionnumber.TheProgram(includingContributions)mayalwaysbe
DistributedsubjecttotheversionoftheAgreementunderwhichitwas
received.Inaddition,afteranewversionoftheAgreementispublished,
ContributormayelecttoDistributetheProgram(includingits
Contributions)underthenewversion.</p>
<p>ExceptasexpresslystatedinSections2(a)and2(b)above,Recipient
receivesnorightsorlicensestotheintellectualpropertyofany
ContributorunderthisAgreement,whetherexpressly,byimplication,
estoppelorotherwise.AllrightsintheProgramnotexpresslygranted
underthisAgreementarereserved.NothinginthisAgreementisintended
tobeenforceablebyanyentitythatisnotaContributororRecipient.
Nothird-partybeneficiaryrightsarecreatedunderthisAgreement.</p>
<p>ExhibitA-FormofSecondaryLicensesNotice</p>
<p>&quot;ThisSourceCodemayalsobemadeavailableunderthefollowing
SecondaryLicenseswhentheconditionsforsuchavailabilitysetforth
intheEclipsePublicLicense,v.2.0aresatisfied:{namelicense(s),
version(s),andexceptionsoradditionalpermissionshere}.&quot;</p>
<p>SimplyincludingacopyofthisAgreement,includingthisExhibitA
isnotsufficienttolicensetheSourceCodeunderSecondaryLicenses.</p>
<p>Ifitisnotpossibleordesirabletoputthenoticeinaparticular
file,thenYoumayincludethenoticeinalocation(suchasaLICENSE
fileinarelevantdirectory)wherearecipientwouldbelikelyto
lookforsuchanotice.</p>
<p>Youmayaddadditionalaccuratenoticesofcopyrightownership.</p>

</div>
<inputtype="checkbox">*Iagreetheabovelicenseagreement.</input>
</div>
<buttononclick="hello()">adsad</button>
<script>
functionhello(){
varc=document.getElementById("checkbox");
if(c.checked==true){

}
else{
alert("Youmustreadthroughthewholelicenseagreement.")
}
}
</script>
{%endif%}
