<style>
    div{
        text-align:center;
    }
    img{
        vertical-align:middle;
    }
    span{
        vertical-align:middle;
    }
    img{
        vertical-align:middle;
    }
</style>
<title>Update Meow Tech Codenamed "Central"</title>
<div id="photo" style="text-align:center">
<img src="banner.png" style="vertical-align:left" width=260height=120>
<div id="photo" style="text-align:center">
<h1>Update Firmware</h1>
<img src="/static/updating.gif" style="vertical-align:middle" width=100 height=100>
<h4>Installing Update.....</h4>
<h2>Required Time:Calculating</h2>
</div>
